.about {
  text-align: center;

  @include breakpoint-up(large) {
    text-align: left;
  }
  p {
    margin-bottom: 3.875rem;
    line-height: 1.6;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__work {
    background-color: $darkViolet;

    min-height: 21.5rem;
    position: relative;

    @include breakpoint-up(large) {
      min-height: 15rem;
    }

    &--pattern {
      position: absolute;

      top: 0px;
      right: 0px;
      z-index: 500;

      @include breakpoint-up(large) {
        left: 54vw;
        top: 181vh;
      }
    }

    &--text {
      position: relative;

      z-index: 1000;

      @include breakpoint-up(large) {
        justify-content: space-between;
        align-items: flex-end;
        left: 220px;
      }
      h3 {
        color: $veryLightGray;
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 2.8125rem;

        @include breakpoint-up(large) {
          font-size: 2.75rem;
          line-height: 0;
        }
      }

      &__button {
        width: 10rem;
      }
    }
  }
}
