.about {
  text-align: center;

  @include breakpoint-up(large) {
    text-align: left;
  }
  p {
    line-height: 1.6;

    @include breakpoint-up(large) {
      font-size: 1.0625rem;
    }
  }

  &__line {
    width: 153px;
    height: 1px;
    background-color: $darkViolet;
    position: absolute;

    opacity: 0.4;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3.125rem;
    }
  }

  &__element {
    padding-bottom: 3.875rem;

    @include breakpoint-up(large) {
      padding-bottom: 10rem;
    }
  }

  &__work {
    background-color: $darkViolet;

    height: 21.5rem;
    position: relative;

    @include breakpoint-up(large) {
      height: 15.625rem;
    }

    &--pattern {
      position: absolute;

      top: 0px;
      right: 0px;
      z-index: 500;

      @include breakpoint-up(large) {
        top: 0px;
        right: 0px;
      }
    }

    &--text {
      position: relative;

      z-index: 1000;

      @include breakpoint-up(large) {
        flex-direction: inherit;
        justify-content: space-between;
      }

      h3 {
        font-family: 'DM Serif Display', serif;
        color: $veryLightGray;
        font-size: 2.25rem;
        line-height: 1;
        margin-bottom: 2.8125rem;

        @include breakpoint-up(large) {
          font-size: 2.75rem;
          width: 50%;
          margin-bottom: 0px;
        }
      }

      &__button {
        width: 10rem;
      }
    }
  }
}
