.bg {
  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
  }

  &__image {
    position: relative;
    background-image: url('/images/image-intro-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 28rem;

    @include breakpoint-up(large) {
      flex: 1;
      order: 2;
      background-image: url('/images/image-intro-desktop.jpg');
      background-position: 0% 83%;
    }
  }

  &__text {
    text-align: center;
    background-color: $darkViolet;
    width: 23.4375rem;
    height: 31.25rem;

    @include breakpoint-up(large) {
      flex: 1;
      order: 1;
      width: 100%;
      height: 36.25rem;
    }

    &__pattern {
      &--left {
        background-image: url('/images/bg-pattern-intro-left-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint-up(large) {
          background-image: url('/images/bg-pattern-intro-left-desktop.svg');
        }
      }
    }

    h1 {
      font-family: 'DM serif Display', serif;
      font-weight: $font-regular;
      color: $veryLightGray;
      font-size: 2.75rem;
      margin-bottom: 1.875rem;
      line-height: normal;

      @include breakpoint-up(large) {
        font-size: $font-xl;
      }
    }

    p {
      color: $veryLightGray;
      margin-bottom: 2.25rem;
      z-index: 1;

      @include breakpoint-up(large) {
        font-size: $font-lg;
      }
    }

    &__btn {
      display: inline-block;
      letter-spacing: 0.0625rem;
    }
  }
}
