.bg {
  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__text {
    text-align: center;
    justify-content: center;
    background-color: $darkViolet;
    width: 21.5625rem;
    height: 30.9375rem;

    h1 {
      font-family: 'DM serif Display', serif;
      font-weight: $font-regular;
      color: $veryLightGray;
      font-size: 2.75rem;
    }

    p {
      color: $veryLightGray;
      line-height: 1.6;
    }

    &__btn {
      position: relative;
      letter-spacing: 1;
    }
  }
}
