html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: $font-med;
  font-weight: $font-regular;
  color: $darkGrayishViolet;
  line-height: 1.6;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-dekstop {
  @include breakpoint-up(large) {
    display: none;
  }
}

button,
.btn {
  position: relative;
  width: 7.1875rem;
  height: 3rem;
  padding: 1rem;
}
