html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: $font-med;
  color: $darkGrayishViolet;
  line-height: 1.3;

  &.nonscroll {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  max-width: 65rem;

  &--paddings {
    padding-top: 6.25rem;
    padding-right: 1.5rem;
    padding-bottom: 5.625rem;
    padding-left: 1.5rem;
  }

  &--paddings2 {
    padding-top: 8.75rem;
    padding-right: 1.5rem;
    padding-bottom: 8.75rem;
    padding-left: 1.5rem;
  }

  &--paddings3 {
    padding-top: 4.6875rem;
    padding-right: 2.6874rem;
    padding-bottom: 4.375rem;
    padding-left: 2.6874rem;

    @include breakpoint-up(large) {
      padding-top: 4.375rem;
      padding-right: 4.875rem;
      padding-left: 5.375rem;
    }
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-dekstop {
  @include breakpoint-up(large) {
    display: none;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 2.5rem;
  font-family: 'DM Serif Display', sans-serif;
  color: $veryDarkViolet;
  margin-bottom: 5.125rem;
}

h3 {
  font-size: 1.6rem;
  font-family: 'DM Serif Display', sans-serif;
  color: $darkViolet;
  margin-bottom: 1.56rem;
}

button,
.button {
  display: inline-block;
  border: 2px solid $veryLightGray;
  background-color: transparent;
  color: $veryLightGray;
  padding: 0.57rem 1.4rem;
  height: 2.375rem;
  width: 9rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  font-size: $font-sm;
  cursor: pointer;

  &:hover {
    background-color: $veryLightGray;
    color: $veryDarkViolet;
    font-weight: $font-bold;
  }
}

.icons {
  margin-bottom: 2.5rem;
}
