.footer {
  text-align: center;
  background-color: $veryLightGray;

  @include breakpoint-up(large) {
    height: 24.625rem;
    width: 100%;
  }

  nav {
    position: relative;
    padding: 1.28125rem 1.375rem;

    @include breakpoint-up(large) {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 1.875rem;
      padding-left: 0;
    }
  }

  &__media {
    position: relative;
    padding-bottom: 2.5rem;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2.25rem;
    }
    &--logo {
      margin-bottom: 1.875rem;
      position: relative;
      z-index: 1;

      @include breakpoint-up(large) {
        width: 7.125rem;
        height: 1.25rem;
        margin-bottom: 0px;
      }
    }

    &--network {
      position: relative;
      z-index: 1;

      a {
        &:not(:last-child) {
          margin-right: 1.125rem;
        }

        svg path {
          transition: fill 150ms ease-in-out;
        }

        &:hover svg path {
          fill: $veryDarkViolet;
        }
      }

      @include breakpoint-up(large) {
        margin-top: auto;
      }
    }

    &--pattern1 {
      position: absolute;
      top: -85px;
    }

    &--pattern2 {
      position: absolute;
      top: -63px;
      left: -180px;
    }
  }

  &__line {
    height: 2px;
    min-width: 320px;
    background-color: $darkGrayishViolet;
    position: absolute;
    left: 20px;
    opacity: 0.1;

    @include breakpoint-up(large) {
      width: 100%;
      left: 0px;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr;

    &:not(:first-child) {
      padding-top: 2.5rem;

      @include breakpoint-up(large) {
        padding-top: 3.125rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        margin-bottom: 0px;
      }
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      text-align: left;
      position: relative;
      padding-top: 2.5rem;
    }

    &--company {
      padding-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        padding-bottom: 4.0625rem;
      }
    }

    &--help {
      padding-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        padding-bottom: 4.0625rem;
      }
    }

    &--contact {
      padding-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        padding-bottom: 4.0625rem;
      }
    }
  }
}
