.footer {
  text-align: center;
  background-color: $veryLightGray;

  nav {
    position: relative;
  }

  &__logo {
    img {
      height: 1.375rem;
      margin-bottom: 1.875rem;
    }
  }

  &__media {
    margin-bottom: 1.875rem;

    a {
      margin-right: 0.3rem;
    }
  }

  &__company {
    margin-bottom: 2.8125rem;
  }

  &__help {
    margin-bottom: 2.8125rem;
  }

  &__contact {
    margin-bottom: 2.8125rem;
  }

  &__others {
    margin-bottom: 2.8125rem;
  }
}
