.footer {
  text-align: center;
  background-color: $veryLightGray;

  &__media {
    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;
    }
    img {
      margin-bottom: 1.875rem;
    }

    &--network {
      a {
        margin-right: 0.3rem;
      }
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }

    &--company {
      margin-bottom: 2.8125rem;
    }

    &--help {
      margin-bottom: 2.8125rem;
    }

    &--contact {
      margin-bottom: 2.8125rem;
    }

    &--others {
      margin-bottom: 2.8125rem;
    }
  }
}
