.header {
  nav {
    padding: 1.28125rem 1.375rem;
  }

  &__logo {
    img {
      width: 7.0625rem;
      height: 1.1875rem;
    }
  }

  &__hamburger {
  }

  &__options {
    a {
      font-size: $font-sm;
      text-transform: uppercase;
      transition: color 150ms ease-in-out;

      &:not(:last-child) {
        margin-right: 27px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        transition: 150ms ease-in-out;
      }

      &:hover {
        color: $veryDarkViolet;
      }

      &:active {
        background-color: $darkViolet;
        color: $veryLightGray;
        padding: 1rem 0.875rem;
        margin: 1rem;
      }
    }
  }
}
