.header {
  position: relative;
  z-index: 1;
  &.active {
    .header__hamburger {
      content: url('/images/icon-close.svg');
    }

    .overlay {
      display: block;
    }
  }

  .overlay {
    position: fixed;
    background-color: $darkViolet;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  nav {
    position: relative;
    background: white;
    padding: 1.28125rem 1.375rem;

    @include breakpoint-up(large) {
      padding: 1.875rem 0;
    }
  }

  &__logo {
    img {
      width: 7.0625rem;
      height: 1.1875rem;
    }
  }

  &__menu {
    position: absolute;
    left: 6%;
    padding-top: 3.125rem;
    transition: 300ms ease-in-out;
    width: 23.4375rem;
    height: 36.75rem;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $veryLightGray;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      text-align: center;
      transition: underline 250ms ease-in-out;

      &:not(:nth-child(3)) {
        padding-bottom: 2.5rem;
      }

      &:hover {
        text-decoration: underline;
      }

      &--view-plans {
        border: 2px solid $veryLightGray;
        padding: 1.125rem 3.4375rem;
        width: 20.375rem;
        height: 3.4375rem;
        margin-top: 1.5625rem;
        transition: 250ms ease-in-out;

        &:hover {
          background-color: $veryLightGray;
          color: $darkViolet;
        }
      }
    }
    .pattern {
      position: absolute;
      left: -7%;
    }
  }

  &__options {
    position: relative;
    &__list {
      font-size: $font-sm;
      text-transform: uppercase;
      transition: color 250ms ease-in-out;
      font-weight: $font-bold;
      color: $darkGrayishViolet;
      letter-spacing: 0.09375rem;

      &:not(:last-child) {
        margin-right: 1.6875rem;
      }

      &:hover {
        color: $darkViolet;
      }

      &--view-plans {
        border: 2px solid $veryDarkViolet;
        padding: 0.57rem 1.4rem;
        position: relative;
        transition: 250ms ease-in-out;

        &:hover {
          background-color: $darkViolet;
          color: $veryLightGray;
        }
      }
    }
  }
}
