.header {
  nav {
    padding: 1.28125rem 1.375rem;
  }

  &__logo {
    img {
      width: 7.0625rem;
      height: 1.1875rem;
    }
  }

  &__hamburger {
    &.open {
    }
  }

  &__options {
    &__list {
      font-size: $font-sm;
      text-transform: uppercase;
      transition: color 250ms ease-in-out;
      font-weight: $font-regular;

      &:not(:last-child) {
        margin-right: 27px;
      }

      &:hover {
        color: $darkViolet;
      }

      &--view-plans {
        border: 2px solid $veryDarkViolet;
        padding: 0.57rem 1.4rem;
        position: relative;
        transition: 250ms ease-in-out;

        &:hover {
          background-color: $darkViolet;
          color: $veryLightGray;
        }
      }
    }
  }
}
