* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.topbar {
  list-style-type: none;
}

.topbar li a {
  display: block;
  text-decoration: none;
  color: #837d87;
  padding: 15px 5px;
}

.option {
  width: 100%;
  text-align: center;
  display: none;
  padding: 10px;
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.active .option {
  display: block;
}

.toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.picture-bg {
  background: url("/images/image-intro-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 375px;
  height: 450px;
  position: relative;
}

.text-group {
  text-align: center;
  background-color: #2d2640;
  width: 375px;
  height: 480px;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #fafafa;
  margin: 2em 0.5em 0 1em;
  font-size: 2.6em;
}

.bg p {
  font-family: "Karla", sans-serif;
  color: #fafafa;
  line-height: 1.6em;
  padding: 1.7em;
}

button {
  font-family: "Karla", sans-serif;
  color: #fafafa;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 1em;
  padding: 10px 20px;
  border: 1.7px solid white;
}

.btn-position {
  margin-top: -1em;
}

#left {
  position: absolute;
  top: 80%;
  left: 11%;
}

#right {
  position: absolute;
  right: 11.5%;
  top: 133%;
}

.parents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 4em;
  background-color: white;
}

.line-parents {
  border: thin solid;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border-color: #837d87;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2.5em;
  margin: 1em;
}

.parents section {
  margin: 1em 0;
}

h3 {
  font-family: "Karla", sans-serif;
  margin: 1em 0;
  font-size: 1.5em;
}

article p {
  font-family: "Karla", sans-serif;
  color: #837d87;
  font-size: 16px;
  line-height: 1.6em;
}

.four {
  background-color: #2d2640;
  width: 320px;
  height: 330px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  color: #fafafa;
  font-family: "DM Serif Display", serif;
  font-size: 2.4em;
  margin-top: 1em;
}

#four-btn {
  margin: 2em 0 3em 0;
  position: relative;
}

#work {
  position: absolute;
  right: 50%;
}

.parents2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-links li {
  list-style-type: none;
}

.social-links {
  margin-top: 3em;
}

#social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.3em 0 2em 0;
}

h5 {
  font-family: "Karla", sans-serif;
  color: #837d87;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.parents2 li {
  list-style: none;
  line-height: 2em;
  font-family: "Karla", sans-serif;
  color: #2b272f;
  text-transform: uppercase;
  font-size: small;
  font-weight: 700;
}

.parents2 section {
  margin: 1em 0;
  letter-spacing: 0.1em;
}

#pattern-footer {
  position: absolute;
  left: 15%;
  z-index: -1;
}

.line-parents2 {
  margin-bottom: 2em;
  border: thin solid;
  border-color: #837d87;
}

.attribution {
  font-size: 15px;
  text-align: center;
  font-family: "DM Serif Display", serif;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 601px) {
  .option {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .text-group {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .parents {
    width: auto;
    text-align: left;
    margin: 5em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .parents .one .two .three {
    padding: 0 2em 0 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  h2 {
    position: relative;
    text-align: left;
    margin: 2em;
  }
  .line-parents {
    width: auto;
    height: 50px;
    position: absolute;
  }
  .four {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    height: 200px;
    margin-top: 2em;
  }
  #four-btn {
    position: relative;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  h4 {
    font-size: 2em;
  }
  .parents2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .parents2 section {
    margin: 2em;
  }
  #bottombar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=styles.css.map */