$primary-colors: (
  'dark-violet': hsl(256, 26%, 20%),
  'grayish-blue': hsl(216, 30%, 68%),
);

$neutral-colors: (
  'very-dark-violet': hsl(270, 9%, 17%),
  'dark-grayish-violet': hsl(273, 4%, 51%),
  'very-light-gray': hsl(0, 0%, 98%),
);

$bg-color: white;

$insure-color: black;

$font-weight: (
  'regular': 400,
  'bold': 700,
);

$font-heading: 'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background: $bg-color;
  padding: 0 2em;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.topbar li a {
  display: block;
  text-decoration: none;
  color: map-get($neutral-colors, dark-grayish-violet);
  padding: 15px 5px;
}

.option {
  width: 100%;
  text-align: center;
  display: none;
  padding: 10px;
  width: 100%;
  order: 3;
}

.active .option {
  display: block;
}

.toggle {
  order: 1;
}

.bg {
  display: flex;
  flex-direction: column;
}

.picture-bg {
  background: url('/images/image-intro-mobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 375px;
  height: 450px;
  position: relative;
}

.text-group {
  text-align: center;
  background-color: map-get($primary-colors, dark-violet);
  width: 375px;
  height: 480px;
}

h1 {
  font-family: $font-heading;
  font-weight: map-get($font-weight, regular);
  color: map-get($neutral-colors, very-light-gray);
  margin: 2em 0.5em 0 1em;
  font-size: 2.6em;
}

.bg p {
  font-family: $font-body;
  color: map-get($neutral-colors, very-light-gray);
  line-height: 1.6em;
  padding: 1.7em;
}

button {
  font-family: $font-body;
  color: map-get($neutral-colors, very-light-gray);
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 1em;
  padding: 10px 20px;
  border: 1.7px solid $bg-color;
}

.btn-position {
  margin-top: -1em;
}

#left {
  position: absolute;
  top: 80%;
  left: 11%;
}

#right {
  position: absolute;
  right: 11.5%;
  top: 133%;
}

.parents {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4em;
  background-color: $bg-color;
}

.line-parents {
  border: thin solid;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border-color: map-get($neutral-colors, dark-grayish-violet);
}

h2 {
  font-family: $font-heading;
  font-size: 2.5em;
  margin: 1em;
}

.parents section {
  margin: 1em 0;
}

h3 {
  font-family: $font-body;
  margin: 1em 0;
  font-size: 1.5em;
}

article p {
  font-family: $font-body;
  color: map-get($neutral-colors, dark-grayish-violet);
  font-size: 16px;
  line-height: 1.6em;
}

.four {
  background-color: map-get($primary-colors, dark-violet);
  width: 320px;
  height: 330px;
  display: block;
  justify-content: center;
  align-items: center;
}

h4 {
  color: map-get($neutral-colors, very-light-gray);
  font-family: $font-heading;
  font-size: 2.4em;
  margin-top: 1em;
}

#four-btn {
  margin: 2em 0 3em 0;
  position: relative;
}

#work {
  position: absolute;
  right: 50%;
}

.parents2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-links li {
  list-style-type: none;
}

.social-links {
  margin-top: 3em;
}

#social-icons {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 1.3em 0 2em 0;
}

h5 {
  font-family: $font-body;
  color: map-get($neutral-colors, dark-grayish-violet);
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.parents2 li {
  list-style: none;
  line-height: 2em;
  font-family: $font-body;
  color: map-get($neutral-colors, very-dark-violet);
  text-transform: uppercase;
  font-size: small;
  font-weight: map-get($font-weight, bold);
}

.parents2 section {
  margin: 1em 0;
  letter-spacing: 0.1em;
}

#pattern-footer {
  position: absolute;
  left: 15%;
  z-index: -1;
}

.line-parents2 {
  margin-bottom: 2em;
  border: thin solid;
  border-color: map-get($neutral-colors, dark-grayish-violet);
}

.attribution {
  font-size: 15px;
  text-align: center;
  font-family: $font-heading;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 601px) {
  .option {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .text-group {
    width: fit-content;
  }

  .parents {
    width: auto;
    text-align: left;
    margin: 5em;
    justify-content: left;
  }

  .parents .one .two .three {
    padding: 0 2em 0 2em;
    flex-direction: row;
  }

  h2 {
    position: relative;
    text-align: left;
    margin: 2em;
  }

  .line-parents {
    width: auto;
    height: 50px;
    position: absolute;
  }

  .four {
    text-align: left;
    display: flex;
    width: 600px;
    height: 200px;
    margin: 2em;
  }

  #four-btn {
    position: relative;
    align-items: right;
  }

  h4 {
    font-size: 2em;
  }
}
