
$primary-colors: (
    'dark-violet': hsl(256, 26%, 20%),
    'grayish-blue': hsl(216, 30%, 68%)
);

$neutral-colors: (
    'very-dark-violet': hsl(270, 9%, 17%),
    'dark-grayish-violet': hsl(273, 4%, 51%),
    'very-light-gray': hsl(0, 0%, 98%)
);

$bg-color: white;

$insure-color: black;

$font-weight: (
    'regular': 400,
    'bold': 700
);
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: $bg-color;
}

.topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.topbar li a {
    display: block;
    text-decoration: none;
}

.option {
    width: 100%;
    text-align: center;
    display: none;
    order: 3;
}

.active .option {
    display: block;
}

.toggle {
    order: 1;
}

@media screen and (min-width: 960px) {
    .option {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }
}

.people {
    background: url('../images/icon-people-first.svg');
    background-size: cover;
}