$primary-colors: (
    'dark-violet': hsl(256, 26%, 20%),
    'grayish-blue': hsl(216, 30%, 68%)
);

$neutral-colors: (
    'very-dark-violet': hsl(270, 9%, 17%),
    'dark-grayish-violet': hsl(273, 4%, 51%),
    'very-light-gray': hsl(0, 0%, 98%)
);

$bg-color: white;

$insure-color: black;

$font-size: 16px;

$font-weight: (
    'regular': 400,
    'bold': 700
);
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    overflow: hidden;
    background-color: $insure-color;
}

.topbar a {
    float: left;
    display: block;
    color: map-get($neutral-colors , very-light-gray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: $font-size;
}

.topbar a:hover {
    background-color: map-get($neutral-colors , dark-grayish-violet);
    opacity: 0.7;
}

.topbar a.active {
    background-color: $bg-color;
    color: $insure-color;
}

.topbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topbar a:not(:first-child) {display: none;}
    .topbar a.icon {
        float: right;
        display: block;
        color: map-get($neutral-colors , very-light-gray);
    }
}

@media screen and (max-width: 600px) {
    .topbar.responsive {position: relative;}
    .topbar.responsive .icon {
        position: absolute;
        right: 0;
        left: 0;
    }

    .topbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}